.color1
{
  background-color: #445c3c;
  background-color: #004a2f; /*Esta é a melhor!*/
  background-color: #587850;

  background-color: #d8c3a5;
  background-color: #bc986a;  /*Esta é a melhor!*/

  background-color: #fbeec1;
  background-color: #96bb7c;

  background-color: #222831;
  background-color: #162447; /*Esta é a melhor!*/

  background-color: #810000;

  background-color: white;
  background-color: black;

}

.color2
{
  background-color: #810000;

  background-color: #b49c73;

  background-color: #00263b;

  background-color: white;
  background-color: black;

}

.color3
{

  background-color: #00263b;

  background-color: #b49c73;

  background-color: #fa7d09;

  background-color: white;
  background-color: black;

}


.color4
{
  background-color: #687864;
  background-color: #31708e;
  background-color: #5085a5;
  background-color: #8fc1e3;
  background-color: #f7f9fb;

}

.color5
{
  background-color: #e85a4f;
  background-color: #e98074;

  background-color: #8e8d8a;
  background-color: #d8c3a5;
  background-color: #eae7dc;

}

.color5
{
  background-color: #474853;
  background-color: #844d36;

  background-color: #86b3d1;
  background-color: #aaa0a0;
  background-color: #8e8268;

}

body
{
  margin: 1%; /*It says may page will cover the entire screen: 0px distance between my body and the screen border*/
  text-align: center;
  padding: 1%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button
{
  width: 100%;
  padding: 0;
border: none;
background: none;
}

.btn
{
  width: auto;
}


.hr1

{
  width: 30%;
  margin: 5% auto 5% auto; /*top, right, bottom, left*/

  background-color: none;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  border-color: #00263b;
}



.navbar-toggler-icon
{
  background-color: #ffeadb;

}

.divhead
{


  background-color: #687864;
  position: relative;
  text-align: left;

  margin-bottom: 0;
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.divhead h1
{
  font-family: 'Chelsea Market', cursive;
  font-size:3.5vw;
  display: inline-block;
  color:  black;
  margin: auto;
  margin-left: 3%;
}

.img-icon
{
  width: 6%;
  background-color: none;
  border-radius: 100%;

}

#nav
{
  background-color: #00263b;
  margin-top: 0.3%;
  margin-bottom: 1%;
}

#nav a
{
  color: white;

}




#features
{
  padding: 7% 10%;
  background-color: white;
  position: relative;
  z-index: 1;

}


#features p
{
  font-size: 1.5rem;
  color: grey;
}

#features h3

{
  font-family: 'Montserrat-Bold' sans-serif;
}


#sumario
{
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3%;
  background-color: #e7dec8;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}



#sumario h1
{
  color:#810000;
  font-size: 7vw;
}

#sumario h2
{
  text-align: left;
  color: #00263b;
  font-family: 'Montserrat-Bold' sans-serif;
  padding: 3%;
  font-size: 2rem;
}

#sumario img
{
  position: absolute;
  right: 5%;
  top: 15%;
  width: 4%;
}
#sumario li
{
    font-family: 'Montserrat-Bold' sans-serif;
    font-size: 2vw;
    padding-right: 10%;
    text-align: left;
    margin-left: 10%;
    color: black;
}


#schedule
{
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: white;
  position: relative;
}

#schedule h1
{
  margin-bottom: 2%;
  color:#810000;
  font-size: 7vw;
}

#interesses
{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 2px solid #810000;
  border-radius: 12px;
  border-top: 40px solid #810000;

  position: relative;
  text-align: center;
}

#interesses h1
{

  color:#810000;

  font-size: 7vw;
}

.noticias
{
  text-align: left;
  display: block;
  width: 100%;
  padding: 1%;
  margin: auto;
  margin-bottom: 3%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.noticias h2
{
  display: inline;
  color:#00263b;

}

.noticias img
{
  max-width: 20%;
  height: auto;
}

.subitem
{
  display: none;
  margin: 1%;
}

h1
{
  font-family: 'Sacramento';
  line-height: 2; /*1 is the normal height*/
  font-size: 4rem; /*400%, in rem: best way to specify sizes*/
  margin: 0 auto 0 auto; /*top, right, bottom, left*/
  color:  #3b6978;
}

h2
{
  font-weight: normal;
  font-size: 2rem;
  padding: 5%;
  color:  #3c2946;
}


.relativediv
{
  position: relative;
}

.givemesomespace
{

  text-align: center;
  padding: 5%;

}

.iconeinterativo
{
  color: #810000;
  opacity: 0.85;
  transition: 0.3s;
  margin: 5px;
}

.iconeinterativo:hover
{
  opacity: 1;
  transform: scale(1.2);

}


@media (max-width:1000px) /*Remember: */
{
  body
  {
    font-size: 2.5vw;
  }

  body h1
  {
   font-size: 7vw;
  }

}
